.nav-item {
  font-size: 0.9em;
}

main {
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}

.issues {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}

.open-issue {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  cursor: pointer;
}
.open-issue:hover {
  background-color: rgb(250, 250, 250);
}
.closed-issue {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  color: gray;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}
.issue-title {
  font-weight: 600;
  margin-right: 5px;
}
.issue-tag {
  font-size: 0.8em;
  margin: 0 5px;
  padding: 3px 5px;
  border-radius: 20px;
}
.issue-btm-line {
  color: gray;
  font-size: 0.8em;
}

.issue-comments {
  color: gray;
}
.issue-comments:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
.issue-img {
  margin: 5px;
}
